<div class="row">
  <div class="col">
    <div
      class="alert alert-danger d-flex align-items-center alert-dismissible fade show"
      *ngIf="isError"
    >
      <svg
        class="bi flex-shrink-0 me-2"
        width="24"
        height="24"
        role="img"
        aria-label="Danger:"
      >
        <use xlink:href="#exclamation-triangle-fill" />
      </svg>
      {{ errorMessage }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <div
      class="alert alert-success d-flex align-items-center alert-dismissible fade show"
      *ngIf="isSuccess"
    >
      <svg
        class="bi flex-shrink-0 me-2"
        width="24"
        height="24"
        role="img"
        aria-label="Info:"
      >
        <use xlink:href="#info-fill" />
      </svg>
      {{ successMesage }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <div *ngIf="isLoading">
      <app-loader></app-loader>
    </div>
    <form
      #loginForm="ngForm"
      (ngSubmit)="onLogin(loginForm)"
      *ngIf="isLoginMode && !isLoading"
    >
      <h3 class="text-center">Login</h3>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          #email="ngModel"
        />
        <div
          class="help-text text-danger"
          *ngIf="email.touched && !email.valid"
        >
          <div *ngIf="email.errors?.['required']">Email is required</div>
          <div *ngIf="email.errors?.['email']">Not a valid email</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="8"
          #password="ngModel"
        />
        <div
          class="help-text text-danger"
          *ngIf="password.touched && !password.valid"
        >
          <div *ngIf="password.errors?.['required']">password is required</div>
          <div *ngIf="password.errors?.['minlength']">
            Min length should be 8
          </div>
        </div>
      </div>
      <div class="mt-3">
        <button
          mat-raised-button
          class="me-2"
          color="primary"
          [disabled]="!loginForm.valid"
        >
          Login
        </button>
        <button
          mat-raised-button
          color="accent"
          (click)="onRegisterSwitchMode()"
        >
          Switch to Register
        </button>
      </div>
      <a
        class="text-center mt-1"
        href="javascript:void(0)"
        (click)="onForgotSwitchMode()"
        >forgot password</a
      >
    </form>

    <form
      #registerForm="ngForm"
      *ngIf="isRegisterMode && !isLoading"
      (ngSubmit)="onRegister(registerForm)"
    >
      <h3 class="text-center">Register</h3>
      <div class="form-group">
        <label for="username">Name</label>
        <input
          type="text"
          id="username"
          class="form-control"
          ngModel
          name="username"
          required
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          minlength="8"
        />
      </div>
      <div class="mt-3">
        <button
          mat-raised-button
          class="me-2"
          color="primary"
          [disabled]="!registerForm.valid"
        >
          Register Me!
        </button>
        <button mat-raised-button color="accent" (click)="onLoginSwitchMode()">
          Switch to Login
        </button>
      </div>
      <a href="javascript:void(0)" (click)="onForgotSwitchMode()"
        >forgot password</a
      >
    </form>

    <form
      #forgotForm="ngForm"
      *ngIf="isForgotMode && !isLoading"
      (ngSubmit)="onForgot(forgotForm)"
    >
      <h3 class="text-center">Reset Password</h3>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
        />
      </div>
      <div class="mt-3">
        <button
          mat-raised-button
          class="me-2"
          color="primary"
          [disabled]="!forgotForm.valid"
        >
          Send Recovery Mail
        </button>
      </div>
      <div class="mt-3">
        <button
          mat-raised-button
          class="me-2"
          color="primary"
          (click)="onLoginSwitchMode()"
        >
          Switch to Login
        </button>
        <button
          mat-raised-button
          color="accent"
          (click)="onRegisterSwitchMode()"
        >
          Switch to Register
        </button>
      </div>
    </form>
  </div>
</div>
