<div class="row">
  <div class="col-md-4 col-xl-3">
    <div class="card bg-c-blue order-card">
      <div class="card-body">
        <div class="d-flex align-items-center mb-3">
          <div class="flex-fill"><i class="bi bi-cart3"></i></div>
          <div class="flex-fill"><p class="display-6 text-right">486</p></div>
        </div>
        <h2 class="m-b-0">Orders</h2>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-xl-3">
    <div class="card bg-c-green order-card">
      <div class="card-body">
        <div class="d-flex align-items-center mb-3">
          <div class="flex-fill"><i class="bi bi-grid"></i></div>
          <div class="flex-fill"><p class="display-6 text-right">486</p></div>
        </div>
        <h2 class="m-b-0">Products</h2>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-xl-3">
    <div class="card bg-c-yellow order-card">
      <div class="card-body">
        <div class="d-flex align-items-center mb-3">
          <div class="flex-fill"><i class="bi bi-people"></i></div>
          <div class="flex-fill"><p class="display-6 text-right">486</p></div>
        </div>
        <h2 class="m-b-0">Users</h2>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-xl-3">
    <div class="card bg-c-pink order-card">
      <div class="card-body">
        <div class="d-flex align-items-center mb-3">
          <div class="flex-fill"><i class="bi bi-credit-card"></i></div>
          <div class="flex-fill"><p class="display-6 text-right">486</p></div>
        </div>
        <h2 class="m-b-0">Total Sales</h2>
      </div>
    </div>
  </div>
</div>
