<div class="row p-4">
  <div class="col-md-3 m-2">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <img class="img-fluid rounded-circle bg-warning" src="assets/img/female.svg" alt="Not Available">
          </div>
          <div class="col-md-9">
            <div>Hello,</div>
            <div>Naveen Joshi</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <!-- <div class="card-body"> -->
      <div class="list-group">
        <a class="list-group-item list-group-item-action" routerLinkActive="active"
          routerLink="personal-details">Personal-details</a>
        <a class="list-group-item list-group-item-action" routerLinkActive="active"
          routerLink="manage-address">Manage-Address</a>
        <a class="list-group-item list-group-item-action" routerLinkActive="active"
          routerLink="manage-payment">Payments</a>
        <a class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="/orders">Orders</a>
      </div>
      <!-- </div> -->
    </div>
  </div>
  <div class="col-md-7 m-2">
    <div class="card">
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
