.address_type {
  font-size: 12px;
  background: #f7f8f9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 400;
  margin-bottom: 10px;
}

.material-icons .menu_icon {
  font-size: 18px;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.mat-radio-button {
  margin: 0 12px;
}

