.container-fluid {
  background: url('../../assets/img/auth-bg.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 91.5vh;
}

.auth-modal {
  margin-top: 50px;
}
